.form-step {
  font-size: 34px;
  text-align: center;
  color: #f55a00;
  margin: 0 0 0.5vh 0;
  font-weight: bold;
}

.nextBtn {
  border-radius: 0 20px 20px 0;
  display: inline-block;
}
.center {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.centerr {
  display: flex;

  text-align: center;
  justify-content: center;
}

.start {
  margin-left: 10%;
}
.main {
  width: 34%;
  height: 34%;
  background-color: blue;

  margin: auto;
}
.contr {
  background-color: rgb(241, 231, 231);
  margin: auto;
}
.log {
  max-width: 100%;
}

.container {
  text-align: center;
}
.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  text-align: left;
  top: 10px;
  margin-left: 11px;
}
.checkbox {
  display: none;
}
.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 40px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 34px;
  padding: 0;
  line-height: 34px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.inner:before {
  content: "YES";
  padding-left: 11px;
  background-color: #060;
  color: #fff;
}
.inner:after {
  content: "NO";
  padding-right: 11px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}
.switch {
  display: block;
  width: 25px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 0px;
}
